<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 第一种方式:<base> 标签为页面上的所有链接规定默认地址或默认目标,然后你的css或js或src原来是怎么样还是什么样 -->
<base th:href="@{/}">
<script th:src="@{js/jquery-1.8.0.min.js}"></script>
<head>
    <title>Hello World!</title>
</head>
<body>
    <div class="verify-code">
        <input class="verifyInput"  name="verifyInput" placeholder="请输入验证码!" onkeyup="verifyCode()">
        <img class="verifyCode" onclick="changeCode()" src="/security/login/getVerifyCode">
    </div>
</body>
<script>
    var correctCode = "";
    /*点击刷新验证码*/
    function changeCode(){
        var src = "/security/login/getVerifyCode?"+new Date().getTime(); //加时间戳，防止浏览器利用缓存
        $('.verifyCode').attr("src", src);                 //jQuery写法
    }
</script>
</html>